
.no-padding {
	padding: 0;
}

.table th, td {
	text-align: center;
}

.field-error {
	border-color: #FF0000;
	margin-bottom: 10px;
}

.fa-bigger {
	font-size: 1.5em;
}

.form-control {
	color:black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: order-box;
}
p{
    font-family: "Montserrat", sans-serif;
}
.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: "Montserrat", sans-serif;
}
.nav-item a:hover{
    color: #C39E29;
}
.navbar-brand{
    height: 70px;
    width: 210px;
}
.search{
    height: 45px;
    outline: none;
    border: 2px solid #C39E29;
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;   
}
.btn1{
    height: 45px;
    outline: none;
    border: none;
    background-color: #C39E29;
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}
.btn1:hover{
    background-color: #af8f26;
}
.bi-basket-fill{
    padding-left: 20px;
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}
.bi-basket-fill:hover{
    color: #C39E29;
}

.main{
    background:url(../images/Buku1.png)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.main h1{
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.main p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}
.main p:nth-child(2){
    font-size: 18px;
    color: grey;
}
.mbtn{
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: white;
    background: #C39E29;
    border-radius: 50px;
    transition: all 0.4s;
}
.mbtn:hover{
    background-color:#af8f26;
}

.line{
	width: 30%;
	height: 6px;
	background: #C39E29;
	display: inline-block;
}

/*====*/
.about{
	background: url(../images/About.png)no-repeat;
	background-size: cover;
    height: 100vh;
    width: 100%;
}
.about h1{
	font-weight: bold;
}
.about p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}
.about p:nth-child(2){
    font-size: 18px;
    color: grey;
}
/*===Product====*/
.product{
    background-color: #E7E5E5;
}
.btn{
    outline: none;
    border: none;
    color: white;
    background: #C39E29;
    border-radius: 8px;
    transition: all 0.4s;
}
.btn:hover{
    background-color:#af8f26;
}
.card{
    color: white;
    border-radius: 10px;
}
.custom-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.list-group-item {
    border: none;
}

.product h1{
    font-size: 3rem;
    font-weight: bold;
}
.product p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}
.product p:nth-child(2){
    font-size: 18px;
    color: grey;
}
/*============*/



.contact{
	background: url(../images/Contact.png)no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	

}
.contact h1{
	font-weight: bold;
	font-size: 3rem;
	color: white;
}
.contact p{
	color: white;
}
.circle{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: white;
	color: black;
	text-align: center;
	padding-top: 15px;
	font-size: 18px;
}